{% extends 'core/base.html' %}

{%block title %}Welcome{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Problems</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
        {% for problem in problems %}
            <div>
                <a href="{% url 'problems:problem' problem.in_lesson.id problem.id %}">
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{problem.name}}</h2>
                        <p class="text-gray-500">Description: {{problem.problem_description}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

  
  